<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/test.css">
        <title>LIFEsmile:)</title>
    </head>
    
    <body id="quiz" >
        <h1>What journaling style is right for you?</h1>
        <form method="POST" action="/supplies">
            
            <h2>What style of lettering do you like the most?</h2>
                <input type="radio" name="lettering" value="brush"><img id="brush" src="https://bit.ly/2v8uOVx" width="300"><br>
                <input type="radio" name="lettering" value="monoline"><img id="monoline" src="https://bit.ly/2O3Ktwq" width="300"><br>
                <input type="radio" name="lettering" value="sans-serif"><img src="https://bit.ly/2M0bOTa" width="300"><br>
                <input type="radio" name="lettering" value="italic"><img src="https://bit.ly/2Ke8zT3" width="300"><br>
                
            <h2>What type of journal do you prefer?</h2>
                <input type="radio" name="journal" value="spiral">Spiral<br>
                <input type="radio" name="journal" value="bound">Bound<br>
                
            <h2>How high maintenance would you like it to be?</h2>
                <input type="radio" name="productivity" value="high">High<br>
                <input type="radio" name="productivity" value="moderate">Moderate<br>
                <input type="radio" name="productivity" value="low">Low<br>
            <br>
            <button type="submit">See which bullet journal is right for you!!!</button>
            
        </form>
    </body>
</html> 