<!DOCTYPE html>
<html>
    <head>
        <title> Your Chosen Exercise!</title>
    </head>
    
    <body bgcolor="#ffbb7f">
        <h2> We know exactly what you need! Check out <br><a href="<%=@exercise_choice%>"><%=@exercise%></a></h2>
    </body>
</html>