<!DOCTYPE html>
<html>
  <head>
    <title>Exercise tracker</title>
    </head>
  <body bgcolor="#ffa075">
      <img src="https://media.giphy.com/media/1w3MyWVVj2giA/giphy.gif">
<h3> Need new exercise methods? click on the one you want to explore!</h3>
<h4> Which exercise do you desire?</h4>
      <form method="POST" action="/exercisehelp">
                <input type="radio" name="exercise" value="floor"> Floor stretches<br>
                <input type="radio" name="exercise" value="yoga"> Yoga stretches<br>
                <input type="radio" name="exercise" value="pre-running">Pre-running exercises<br>
                <input type="radio" name="exercise" value="yoga ball"> Yoga ball exercises<br>
  <br>
  <input type="submit" value=" ENTER">
</form>  
  </body>
</html>  