<!DOCTYPE html>
<html>
  <head>
    <title>HELPERGY</title>
    </head>
  <body>
    <h3>In Desparate Need of Help Controlling Your Allergies?</h3>
    <h4>Answer the following questions to recieve our completely organic suggested over-the-counter tablets as well as authentic home-remedies.</h4>
    <form method=POST action='/helpergyremedies'>
      First name:<br>
      <input type="text" name="firstname"><br>
      Allergic Symptom (please put one):<br>
      <input type="radio" name="symptom" value="Runny Nose">Runny Nose<br>
      <input type="radio" name="symptom" value="Itchy Eyes">Itchy Eyes<br>
      <input type="radio" name="symptom" value="Itchy Throat">Itchy Throat<br>
      <input type="radio" name="symptom" value="Congestion">Congestion<br>
    <br>
     
      <button type="submit">Click to see our recommendations!!</button>
    </form>  
  </body>
</html>

