<!Doctype html>
 <html>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>LIFEsmile :)</title>
        
    </head>
    
    <body>
        <!--<header>-->
            
            <ul id="navbar">
              <li class="nav"><a class="active" href="#home">Sleep</a></li>
              <li class="nav"><a href="#news">Water</a></li>
              <li class="nav"><a href="#contact">Exercise</a></li>
              <li class="nav"><a href="#about">Allergy</a></li>
            </ul>
            
        <!--</header>-->
    
    <div id="hero-image">
        <div class="wrapper">
        <h2 id="title"><strong>Your own personal guide</strong><br/>
        to Organized Bullet Journaling</h2>
        
        <div id="main-buttons">
            <a href=bulletjournal class="button-1">Bullet Journaling</a>
            <br>
            <a href=tracker class="button-1">Trackers</a>
        </div>
      
    </div>
  </div>
    
    <div id="features">
        <div class="wrapper">
        <ul>
            <li class="feature-1">
                <h4>About Bullet Journaling</h4>
                <p>The Bullet Journal is an analog system created to help you track the past, organize the present, and plan for the future. It's an amazing system that keeps a record of everything you could ever want to toss at it. The Spreads set out for you were created by Sarah and Meghana.</p>
                </li>
            <li class="feature-2">
                <h4>About Our Custom Trackers</h4>
                <p> Our custom designed trackers by Allison and Bella were created to provide an improvised and organized way to keep track of your Bullet Journal electronically and physically!</p>
                </li>
            
        </ul>
    </div>
  <!--</div>-->
    
    <div id="primary-content">
        <div class="wrapper">
            <br><br><br>
            <h3 id="action">See it in action!!</h3>
            <p>Start at your own pace!! Use our resources to try and keep it organized!! If it doesn't work for you, don't worry about it! Go at your own pace, and keep an open mind!!</p>
            <video controls>
                <source src="https://v.pinimg.com/videos/720p/38/cf/cc/38cfcc60758bac1ced38118881a7e378.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    
    <div id="secondary-content">
        <div class="wrapper">
        <article style="background-image: url('http://cdn6.gurl.com/wp-content/uploads/2017/01/bulletjournal-page-ideas.jpg');">
            <div class="overlay">
                <h4>Want Some Inspiration?</h4>
                <p><small>Click here for inspiration for your bullet journaling journey!!</small></p>
                <a href="#" class="more-link">View more</a>
            </div>
        </article>
        <article  style="background-image: url('http://i65.tinypic.com/2upqp9x.jpg');">
            <div class="overlay">
                <h4>Upgrade your Journaling</h4>
                <p><small>Check out some killer supplies to make your </small></p>
                <a href="#" class="more-link">View more</a>
            </div>
        </article><div class="clear"></div>
    </div>
  </div>
  
    <div id="cta">
         <div class="wrapper">
             <h3>About Us</h3>
        <p id="bio">Kode with Klossy scholars Allison Rodrigues (14), Meghana Gorthi (16), Sarah Doughty (16), and Bella Bartol(13) spent two weeks intensively learning to code alongside Karlie Kloss. Throughout the duration of this Summer Intensive Camp, these determined teenagers dedicated countless hours to making this project possible. <br><br> A little about us: <br><br> Allison: An incoming Freshman at Regents School of Austin in Austin, Texas; she enjoys competitive swimming, art, music (cello), chilling with her turtle and learning different languages. Currently, she is self-teaching herself Arabic!<hr /> Meghana: She thoroughly enjoys the Pink Drink as well as spending time with her dig! She is an incoming Junior at Westlake High School in Austin, Texas. Go Chaps! <hr /> Sarah: Is a musicals enthusiast who also loves to code! She is an incoming junior at Leander High School in Leander, Texas, where she is involved in the IB Diploma Program, Theatre, Mu Alpha Theta, Student Council, and Latin Club. <hr /> Bella: Bella is an incoming Eigth Grader at St. Louis Catholic School in Austin, Texas. She loves art, especially creating her own cartoons; as well as eating. 
        </p>
        <a href="#" class="button-2">Contact Us</a>
    </div>
  </div>
    
    

        <!--<img src="https://preview.ibb.co/duuGYz/46_BDDC42_2_BA5_47_B4_87_E5_FF76_FE20_DFD3.jpg" border="0" width
          <!--<ul class="index">-->
          <!--    <li class="index"><a href=tracker class="index">Trackers</a></li>-->
          <!--    <li class="index"><a href=bulletjournal class="index">Get Started with Bullet Journaling</a></li>-->
          <!--</ul>-->

    
        <!--<form method="POST" action="/tracker">-->
        <!--    <button type="submit">Trackers</button>-->
        <!--</form>-->
        <!--<form method="POST" action="/bulletjournal">-->
        <!--    <button type="submit">Get Started with Bullet Journaling</button>-->
        <!--</form>-->
    </body>
</html>
