<!DOCTYPE html>
<html>
    <head>
        <title>Get Some Inspiration!!</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <h1>Get some inspiration for your spreads, trackers, cover pages, and so much more! </h1>
        <!--<div id="secondary-content">-->
        <!--    <div class="wrapper">-->
        <!--        <article style="background-image: url('http://cdn6.gurl.com/wp-content/uploads/2017/01/bulletjournal-page-ideas.jpg');">-->
        <!--            <div class="overlay">-->
        <!--                <h3>Monthly Spreads</h3>-->
        <!--                <a href="#" class="more-link">View more</a>-->
        <!--            </div>-->
        <!--        </article>-->
        <!--        <article style="background-image: url('http://cdn6.gurl.com/wp-content/uploads/2017/01/bulletjournal-page-ideas.jpg');">-->
        <!--            <div class="overlay">-->
        <!--                <h3>Yearly Spreads</h3>-->
        <!--                <a href="#" class="more-link">View more</a>-->
        <!--            </div>-->
        <!--        </article>-->
        <!--    </div>-->
        <!--</div>-->
        <h3 class="gallery">Yearly Spreads</h3>
         <div class="gallery">
            <a target="_blank" href="https://bit.ly/2n7DEyL"></a>
            <img class="gallery" src="https://bit.ly/2n7DEyL" alt="yearly spread with seperate sections for each month and no calendar" width="300" height="200">
        </div>
        
        <div class="gallery">
            <a target="_blank" href="https://bit.ly/2O3kx46"></a>
            <img class="gallery" src="https://bit.ly/2O3kx46" alt="yearly spread with seperate sections for each month and a calendar" width="300" height="200">
        </div>

        <div class="gallery">
            <a target="_blank" href="https://bit.ly/2LRbSW5"></a>
            <img class="gallery" src="https://bit.ly/2LRbSW5" alt="yearly spread with yearly calender on one page and future dates on the other" width="300" height="200">
        </div>
        
        <div class="gallery">
            <a target="_blank" href="https://bit.ly/2OFxB0B"></a>
            <img class="gallery" src="https://bit.ly/2OFxB0B" alt="yearly spread with seperate sections for each month with a calendar and space for future dates" width="300" height="200">
        </div>
    </body>
</html>