<!DOCTYPE html>
<html>
    <head>
        <title>LIFEsmile:)</title>
    </head>
    
    <body>
        <h1>What journaling style is right for you?</h1>
        <form method="POST" action="/sleepamount">
            <h2>How old are you?</h2>
                <input type="number" name="age">
            <br>
                <input type="radio" name="units" value="months">Months<br>
                <input type="radio" name="units" value="years">Years<br>
                
            <br>
            
            <button type="submit">See how much sleep you need!!!</button>
            
        </form>
    </body>
</html> 