<!DOCTYPE html>
<html>
    <head>
        <title>Tracker Page</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    
    <body bgcolor="#ffea84">
        <h1>Track your LIFEsmile!</h1>
        <form method="POST" action="/exercise">
           
          
            <br>
            <button type="submit">Exercise Tracker </button>
        </form>
        <form method="POST" action="/sleep">
            <button type="submit">Sleep Tracker </button>
        </form> 
        <form method="POST" action="/water">
            <button type="submit">Water Tracker </button>
            </form>
        <form method="POST" action="/allergy">
            <button type="submit">Helpergy </button>
        </form>
    </body>
</html> 

