<html>
  <head>
    <title>AQUA, AQUAE</title>
    </head>
  <body>
    <h3>How Much Water You Ought To Be Drinking</h3>
    <h4>Answer the following question so that we can tell you about how much water you should be drinking in a day.</h4>
    <form method=POST action='/wateramount'>
      How Much Do You Weigh in Pounds:<br>
      <input type="number" name = "weight"><br>
      <button type="submit">Click to see our recommendations!!</button>
    </form>  
  </body>
</html>