<!DOCTYPE html>
<html>
    <head>
        <title>Your Water Intake!!</title>
    </head>
    
    <body>
        <body bgcolor="#DE98B2">
        <h2 text-align="center"><%=@minAndMax%></h2>
    </body>
</html>           