<html>
  <head>
     <link rel="stylesheet" href="/css/water.css">
    <title>AQUA, AQUAE</title>
    </head>
  <body>
      <body bgcolor="#b0e0e6">
    <div class="a">
    <h1>How Much Water You Ought To Be Drinking</h1>
    <h2>Answer the following question so that we can tell you about how much water you should be drinking in a day.</h2>
    <form method=POST action='/wateramount'>
      <h4>Enter Your Weight in Pounds:<br><br></h4>
      <input type="number" name = "weight"><br> <br>
      <button class="btn" type="submit">Click to See How Much Water You Should be Getting!</button>
    </form> 
    </div>
  </body>
</html>